<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav_collapse collapse navbar-collapse" id="navbarSupportedContent">
    <div class="row width_100">
      <div class="col-8 col-md-6 col-lg-6 padd_3">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item clinic_code">
            <p>CLinic code: <span class=""> Togg23</span></p>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-6 col-lg-6 padd_3">
        <ul class="navbar-nav navbar_nav mr-auto">
          <li class="nav-item bell_icon">
            <a class="nav-link" href="#"><img src="../../../assets/img/notificaion.svg" alt=""></a>
          </li>
          <li class="nav-item dropdown user_logout">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="../../../assets/img/profile-image.png">
              <div class="clini_names">
                <p><strong>Clinic Name</strong></p>
                <p>Clinic</p>
              </div>
            </a>
            <div class="dropdown-menu dropdown_menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar Code -->
<div class="page-wrapper chiller-theme toggled">
  <aside id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <img src="../../../assets/img/maps-logo.svg" class="logo_1">
        <img src="../../../assets/img/maps-logo.svg" alt="" class="logo_2">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="#">
              <img src="../../../assets/img/dashboard.svg" alt="">
              <span>Dashboard</span>
            </a>
          </li>
          <li class="active">
            <a href="#" routerLink="/profile">
              <img src="../../../assets/img/profile.svg" alt="">
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../assets/img/Calendar.svg" alt="">
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#" routerLink="/appointment">
              <img src="../../../assets/img/appointment.svg" alt="">
              <span>Appointment</span>
            </a>
          </li>
          <li>
            <a href="#" routerLink="/patient-list">
              <img src="../../../assets/img/patient.svg" alt="">
              <span>Patient</span>
            </a>
          </li>
          <li>
            <a href="#" routerLink="/surgeon">
              <img src="../../../assets/img/surgeon.svg" alt="">
              <span>Surgeon</span>
            </a>
          </li>
          <li>
            <a href="#" routerLink="/anesthesiologist">
              <img src="../../../assets/img/anesthologist.svg" alt="">
              <span>Anesthesiologist</span>
            </a>
          </li>
          <li>
            <a href="#" routerLink="/billing">
              <img src="../../../assets/img/billing.svg" alt="">
              <span>Billing</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-menu sidebar-menu-footer">
        <ul>
          <li>
            <a href="#">
              <img src="../../../assets/img/logout.svg" alt="">
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </aside>
  <!-- sidebar-wrapper  -->
</div>
