<app-sidebar></app-sidebar>
<main class="page-content">
  <div class="d-flex justify-content-between form-group">
    <h2>Profile</h2>
    <button class="btn btn-primary-outline" routerLink="/edit-profile">Edit Profile</button>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="profile-card">
        <img
          src="../../../assets/img/profile-image.png"
          alt=""
          class="profile-img"
        />
        <div class="upload-img">
          <input type="file">
          <img src="../../../assets/img/camera.svg" alt="">
        </div>
        <h6>Clinic Name</h6>
        <p>Clinic</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          dolorem, laborum ducimus aspernatur repudiandae iste reprehenderit
          quasi, fuga quis commodi temporibus explicabo nemo porro animi,
          tempora quibusdam necessitatibus rerum. Molestiae!
        </p>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="profile-info">
        <ul>
          <li>
            <img src="../../../assets/img/Message.svg" alt="" />
            <div>
              <p>Email</p>
              <h6>Jane Cooper</h6>
            </div>
          </li>
          <li>
            <img src="../../../assets/img/phone.svg" alt="" />
            <div>
              <p>Phone Number</p>
              <h6>31 March, 2022</h6>
            </div>
          </li>
          <li class="m-m-b-0">
            <img src="../../../assets/img/map-marker.svg" alt="" />
            <div>
              <p>Address</p>
              <h6>11:30 PM</h6>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <img src="../../../assets/img/website.svg" alt="" />
            <div>
              <p>Website</p>
              <h6>Lorem</h6>
            </div>
          </li>
          <li>
            <img src="../../../assets/img/building.svg" alt="" />
            <div>
              <p>State</p>
              <h6>Lorem</h6>
            </div>
          </li>
          <li class="m-m-b-0">
            <img src="../../../assets/img/clock.svg" alt="" />
            <div>
              <p>UTC-09</p>
              <h6>Lorem</h6>
            </div>
          </li>
        </ul>
      </div>
      <div class="text-right">
        <button class="btn btn-primary-outline" routerLink="/change-password">Change Password</button>
      </div>
    </div>
  </div>
</main>
