<div class="patient-modal">
    <div class="dialog-head d-flex justify-content-between">
      <h3>Connect Anesthesiologist</h3>
      <img src="../../../assets/img/cross.svg" alt="" />
    </div>
    <hr />
    <form action="">
      <div class="form-group input-right-icon">
        <label for="" class="control-label">Anesthesiologist Code</label>
        <input type="text" class="form-control" />
        <img src="../../../assets/img/profile.svg" alt=" " />
      </div>
      <div class="form-group input-right-icon">
        <label for="" class="control-label">Anesthesiologist Email</label>
        <input type="text" class="form-control" />
        <img src="../../../assets/img/Message.svg" alt=" " />
      </div>
      <button class="btn btn-primary btn-block">Send</button>
    </form>
  </div>
  