@import "../../../assets/scss/variable.scss";

.confirmation-cont {
    text-align: center;
    img {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }
    .mr-2 {
        margin-right: 2em;
    }
}