<app-sidebar></app-sidebar>
<main class="page-content">
  <div class="d-flex justify-content-between form-group">
    <h2>Anesthesiologist</h2>
    <button class="btn btn-primary-outline" (click)="connectAnesthesiologist()">Connect with Anesthesiologist</button>
  </div>
  <div class="anesthesiologist">
    <div class="patient-card-list">
      <div class="row flex-wrap">
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Dr. Arlene McCoy</h6>
              <p><img src="../../../assets/img/birth-cake.png" alt=""> 12-16-1989</p>
              <p><img src="../../../assets/img/call-icon.png" alt=""> (208) 555-0112</p>
                <div class="action_btn">
                    <img class="mr_1" src="../../../assets/img/eye-icon.svg" alt="">
                    <img src="../../../assets/img/eye-icon.svg" alt="">
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Dr. Eleanor Pena</h6>
              <p><img src="../../../assets/img/birth-cake.png" alt=""> 12-16-1989</p>
              <p><img src="../../../assets/img/call-icon.png" alt=""> (208) 555-0112</p>
                <div class="action_btn">
                    <img class="mr_1" src="../../../assets/img/eye-icon.svg" alt="">
                    <img src="../../../assets/img/eye-icon.svg" alt="">
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Dr. Jacob Jones</h6>
              <p><img src="../../../assets/img/birth-cake.png" alt=""> 12-16-1989</p>
              <p><img src="../../../assets/img/call-icon.png" alt=""> (208) 555-0112</p>
                <div class="action_btn">
                    <img class="mr_1" src="../../../assets/img/eye-icon.svg" alt="">
                    <img src="../../../assets/img/eye-icon.svg" alt="">
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Dr. Ronald Richards</h6>
              <p><img src="../../../assets/img/birth-cake.png" alt=""> 12-16-1989</p>
              <p><img src="../../../assets/img/call-icon.png" alt=""> (208) 555-0112</p>
                <div class="action_btn">
                    <img class="mr_1" src="../../../assets/img/eye-icon.svg" alt="">
                    <img src="../../../assets/img/eye-icon.svg" alt="">
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Dr. Arlene McCoy</h6>
              <p><img src="../../../assets/img/birth-cake.png" alt=""> 12-16-1989</p>
              <p><img src="../../../assets/img/call-icon.png" alt=""> (208) 555-0112</p>
                <div class="action_btn">
                    <img class="mr_1" src="../../../assets/img/eye-icon.svg" alt="">
                    <img src="../../../assets/img/eye-icon.svg" alt="">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
