<app-sidebar></app-sidebar>
<main class="page-content">
    <h2>Billing</h2>
    <div class="schedule-appointment">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Regular
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Hold
                            </label>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <h6>Appointment With</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                      <option selected>Select Anesthesiologist </option>
                                      <option>Anesthesiologist</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                      <option selected>Select Surgeon </option>
                                      <option>Surgeon</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                      <option selected>Select Patient </option>
                                      <option>Patient</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <h6>Patient</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="control-label">Patient age</label>
                                    <input type="text" class="form-control" placeholder="Patient age">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="control-label">Patient Weight (Lbs)</label>
                                    <input type="text" class="form-control" placeholder="Patient Weight (Lbs)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="control-label">Patient Height / Inch</label>
                                    <input type="text" class="form-control" placeholder="Patient Height / Inch">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <h6>Fee Pay By</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="PayBy">Patient
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="PayBy">Insurance
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="PayBy">Surgeon/office
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <h6>Who will pay to surgeon/office ? </h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Patient
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Insurance
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Deposit <img src="../../../assets/img/danger-circle.svg" alt="">
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <h6>Payment</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">ACH
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">CC
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Zelle
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Venmo
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Paypal
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Direct deposit/payroll
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="surgeon">Cheque
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <h6>Date & Time</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="control-label">Date</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="control-label">Start Time</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="control-label">End Time</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-primary">Schedule Appointment</button>
                </div>
            </div>
        </div>
    </div>
  
</main>
