<app-sidebar></app-sidebar>
<main class="page-content">
<h2>Anesthesiologist</h2>
  <div class="aneshesiologist-detail">
    <div class="card form-group">
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-3">
                    <div class="d-flex">
                        <span class="img_radious">
                            <img src="../../../assets/img/profile-image.png" alt="" />
                        </span>
                        <div>
                            <span class="big-text">Dr. Arlene McCoy</span>
                            <p class="provider_text"><img src="../../../assets/img/map-icon.svg" alt=""> New Jersey Fauci</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col">
                            <p>Email</p>
                            <p class="big-text">arlenemccoy@example.com</p>
                        </div>
                        <div class="col">
                            <p>User ID</p>
                            <p class="big-text">Jane Cooper</p>
                        </div>
                        <div class="col">
                            <p>Zip Code</p>
                            <p class="big-text">754631</p>
                        </div>
                        <div class="col">
                            <p>Time Zone</p>
                            <p class="big-text">UTC-09</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Shared Records</h6>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="cont-bg padd_1">
                                <h5>Anesthesia Consent</h5>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="cont-bg padd_1">
                                <h5>Medical History</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Anesthesiologist Fees </h2>
    <div class="card form-group">
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6>Adult Fees Criteria</h6>
                        <div class="cont-bg padd_1">
                            <p>Age > =    24 Year</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Weekdays</label>
                    <div class="cont-bg padd_1">
                        <p>First hour rate</p>
                        <h5>$200</h5>
                    </div>
                </div>
                <div class="col">
                    <label for="">&nbsp;</label>
                    <div class="cont-bg padd_1">
                        <p>Each additional 15 min rate</p>
                        <h5>$100</h5>
                    </div>
                </div>
                <div class="col">
                    <label for="">Weekend(Sat, Sun)</label>
                    <div class="cont-bg padd_1">
                        <p>First hour rate</p>
                        <h5>$100</h5>
                    </div>
                </div>
                <div class="col">
                    <label for="">&nbsp;</label>
                    <div class="cont-bg padd_1">
                        <p>Each additional 15 min rate</p>
                        <h5>$200</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6>Pediatric Fees Criteria</h6>
                        <div class="d-flex justify-content-between">
                            <div class="cont-bg padd_1 mr_1">
                                <p>Age > =    24 Year</p>
                            </div>
                            <div class="cont-bg padd_1">
                                <p>Weight < =    50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Weekdays</label>
                    <div class="cont-bg padd_1">
                        <p>First hour rate</p>
                        <h5>$200</h5>
                    </div>
                </div>
                <div class="col">
                    <label for="">&nbsp;</label>
                    <div class="cont-bg padd_1">
                        <p>Each additional 15 min rate</p>
                        <h5>$100</h5>
                    </div>
                </div>
                <div class="col">
                    <label for="">Weekend(Sat, Sun)</label>
                    <div class="cont-bg padd_1">
                        <p>First hour rate</p>
                        <h5>$100</h5>
                    </div>
                </div>
                <div class="col">
                    <label for="">&nbsp;</label>
                    <div class="cont-bg padd_1">
                        <p>Each additional 15 min rate</p>
                        <h5>$200</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col border-right">
                    <h6>Flat fee</h6>
                    <div class="cont-bg padd_1">
                        <p>Per case</p>
                        <h5>$200</h5>
                    </div>
                </div>
                <div class="col">
                    <h6>Deposit Mandatory</h6>
                    <div class="cont-bg padd_1">
                        <p>Amount ($)</p>
                        <h5>$100</h5>
                    </div>
                </div>
                <div class="col">
                    <label>&nbsp;</label>
                    <div class="cont-bg padd_1">
                        <p>Advance pay % </p>
                        <h5>$100</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6>Additional Service</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>Uninary Catheter</p>
                        <h5>$100</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>Video Laryngoscope</p>
                        <h5>$150</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>BIS Monitor</p>
                        <h5>$150</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6>Base Units</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>ASA 1</p>
                        <h5>1 Unit (15 Mins)</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>ASA 2</p>
                        <h5>1 Unit (30 Mins)</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>ASA 3</p>
                        <h5>1 Unit (45Mins)</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6>Modifying Units</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>ASA 1</p>
                        <h5>1 Unit (15 Mins)</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>ASA 2</p>
                        <h5>1 Unit (30 Mins)</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>ASA 3</p>
                        <h5>1 Unit (45Mins)</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6>Credit Card</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="cont-bg padd_1">
                        <p>Credit Card Fees (in %)</p>
                        <h5>3.0%</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</main>
