<div class="login-section">
  <div class="login-left">
    <div class="login-bg">
      <img src="../../assets/img/maps-logo.svg" alt="" class="maps-logo" />
      <img src="../../assets/img/blue-curve.png" alt="" class="curve-img" />
    </div>
  </div>
  <div class="login-right">
    <div class="login-form">
      <h2>Login</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry lorem Ipsum has been the industry's standard.
      </p>
      <form action="">
        <div class="form-group input-right-icon">
          <label for="" class="control-label">User ID</label>
          <input type="text" class="form-control" />
          <img src="../../assets/img/Message.svg" alt=" " />
        </div>
        <div class="form-group input-right-icon">
          <label for="" class="control-label">Password</label>
          <input type="text" class="form-control" />
          <img src="../../assets/img/Show.svg" alt=" " />
        </div>
        <p class="forgot-pwd">
          <a href="#">Forgot Password ?</a>
        </p>
        <div class="login-btn">
          <button class="btn btn-primary">Sign In</button>
        </div>
        <p class="dont-account">Don't have an account? <a href="#">Register here</a></p>
      </form>
    </div>
  </div>
</div>
