<div class="patient-modal">
    <div class="dialog-head d-flex justify-content-between">
        <h3>Patient Details</h3>
        <img src="../../../assets/img/cross.svg" alt="">
    </div>
    <hr>
    <div class="patient-name">
        <img src="../../../assets/img/patient/1.png" alt="">
        <p>Maley Parikh</p>
        <img src="../../../assets/img/call-round-icon.svg" alt="">
    </div>
    <div class="patient-info">
        <p>Date of birth</p>
        <p><strong>02/04/2012</strong></p>
    </div>
    <div class="patient-info">
        <p>Contact</p>
        <p><strong>2012457845</strong></p>
    </div>
    <div class="patient-info">
        <p>Email</p>
        <p><strong>malay@xyz.com</strong></p>
    </div>
</div>