<app-sidebar></app-sidebar>
<main class="page-content">
  <h2 class="form-group">Appointment</h2>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-link active"
        id="nav-home-tab"
        data-toggle="tab"
        href="#Upcoming"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >Upcoming</a
      >
      <a
        class="nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#Pending"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Pending</a
      >
      <a
        class="nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#Past"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Past</a
      >
      <a
        class="nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#Hold"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Hold</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="Upcoming"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Info</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p class="ser_no">1</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div>
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td>
                <img src="../../../assets/img/pay-time-danger.svg" alt="" />
                &nbsp;&nbsp;
                <img src="../../../assets/img/pay-hand-danger.svg" alt="" />
              </td>
              <td>
                <button class="btn btn-gray-outline">Reschedule</button>
                &nbsp;&nbsp;
                <button class="btn btn-gray-outline">Cancel</button>
              </td>
            </tr>
            <tr>
              <td><p class="ser_no">2</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Darrell Steward
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td>
                <img src="../../../assets/img/pay-time.svg" alt="" />
                &nbsp;&nbsp;
                <img src="../../../assets/img/pay-hand.svg" alt="" />
              </td>
              <td>
                <button class="btn btn-gray-outline">Reschedule</button>
                &nbsp;&nbsp;
                <button class="btn btn-gray-outline">Cancel</button>
              </td>
            </tr>
            <tr>
              <td><p class="ser_no">3</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Robert Fox
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td>
                <img src="../../../assets/img/pay-time.svg" alt="" />
                &nbsp;&nbsp;
                <img src="../../../assets/img/pay-hand-danger.svg" alt="" />
              </td>
              <td>
                <button class="btn btn-gray-outline">Reschedule</button>
                &nbsp;&nbsp;
                <button class="btn btn-gray-outline">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="Pending"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p class="ser_no">1</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td class="text-warning">Approval Pending</td>
              <td>
                <button class="btn btn-gray-outline">Reschedule</button>
                &nbsp;&nbsp;
                <button class="btn btn-gray-outline">Cancel</button>
              </td>
            </tr>
            <tr>
              <td><p class="ser_no">2</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td class="text-warning">Approval Pending</td>
              <td>
                <button class="btn btn-gray-outline">Reschedule</button>
                &nbsp;&nbsp;
                <button class="btn btn-gray-outline">Cancel</button>
              </td>
            </tr>
            <tr>
              <td><p class="ser_no">3</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td class="text-warning">Approval Pending</td>
              <td>
                <button class="btn btn-gray-outline">Reschedule</button>
                &nbsp;&nbsp;
                <button class="btn btn-gray-outline">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="Past"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p class="ser_no">1</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td>
                <button
                  class="btn btn-outline-success btn-block border-radius-50"
                >
                  Paid
                </button>
              </td>
            </tr>
            <tr>
              <td><p class="ser_no">12</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td>
                <button
                  class="btn btn-outline-danger btn-block border-radius-50"
                >
                  Due
                </button>
              </td>
            </tr>
            <tr>
              <td><p class="ser_no">1</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td>
                <button
                  class="btn btn-outline-success btn-block border-radius-50"
                >
                  Paid
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="Hold"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Contact</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p class="ser_no">1</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td><img src="../../../assets/img/phone-icon.svg" alt="" /></td>
              <td>
                <button
                  class="btn btn-outline-success btn-block border-radius-50"
                >
                  Accepted</button
                ><span></span>
              </td>
              <td><img src="../../../assets/img/add-btn.svg" alt="" /></td>
            </tr>
            <tr>
              <td><p class="ser_no">2</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td><img src="../../../assets/img/phone-icon.svg" alt="" /></td>
              <td>
                <button
                  class="btn btn-outline-danger btn-block border-radius-50"
                >
                  Denied
                </button>
              </td>
              <td><img src="../../../assets/img/add-btn.svg" alt="" /></td>
            </tr>
            <tr>
              <td><p class="ser_no">3</p></td>
              <td class="td_name">
                <div class="d-flex">
                  <span class="img_radious"
                    ><img src="../../../assets/img/profile-image.png" alt=""
                  /></span>
                  <div class="">
                    Albert Flores
                    <p class="provider_text">Provider : Dr. Salman Hussain</p>
                  </div>
                </div>
              </td>
              <td>03-18-2022</td>
              <td>08 : 00 AM - 03 : 00 PM</td>
              <td><img src="../../../assets/img/phone-icon.svg" alt="" /></td>
              <td>
                <button
                  class="btn btn-outline-success btn-block border-radius-50"
                >
                  Accepted
                </button>
              </td>
              <td><img src="../../../assets/img/add-btn.svg" alt="" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
