<app-sidebar></app-sidebar>
<main class="page-content">
<div class="d-flex justify-content-between form-group">
    <h2>Appointment Details</h2>
    <button class="btn btn-outline-primary">Add</button>
</div>
  <div class="appoint-detail">
    <div class="card form-group">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 border-right">
                    <div class="d-flex">
                        <span class="img_radious">
                            <img src="../../../assets/img/profile-image.png" alt="" />
                        </span>
                        <div>
                            <span class="big-text">Albert Flores</span>
                            <p class="provider_text"><img src="../../../assets/img/map-icon.svg" alt=""> 181 evergreen rd edison</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col border-right">
                            <p>Start Time</p>
                            <p class="big-text">10 : 30 AM</p>
                        </div>
                        <div class="col border-right">
                            <p>End Time</p>
                            <p class="big-text">12 : 30 PM</p>
                        </div>
                        <div class="col border-right">
                            <p>Date</p>
                            <p class="big-text">Thu, 31 March</p>
                        </div>
                        <!-- if -->
                        <!-- <div class="col d-flex">
                            <img class="width25" src="../../../assets/img/call-icon.svg" alt="" />
                        </div> -->
                        <div class="col d-flex">
                            <span class="img_paymentby">
                                <img src="../../../assets/img/pay-hand-danger.svg" alt="" />
                            </span>
                            <div>
                                Payment By
                                <p class="big-text">Clinic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="profile-card">
                <div class="profile-body">
                    <img
                        src="../../../assets/img/profile-image.png"
                        alt=""
                        class="profile-img"
                    />
                    <h6>Clinic Name</h6>
                    <p>Clinic</p>
                </div>
                <div class="profile-foot">
                    <img src="../../../assets/img/pay-time-danger.svg" alt="">
                    <img class="call_img" src="../../../assets/img/call-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card">
                <div class="profile-body">
                    <img
                        src="../../../assets/img/profile-image.png"
                        alt=""
                        class="profile-img"
                    />
                    <h6>Clinic Name</h6>
                    <p>Clinic</p>
                </div>
                <div class="profile-foot text-center">
                    <img class="call_img" src="../../../assets/img/call-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card">
                <div class="profile-body">
                    <img
                        src="../../../assets/img/profile-image.png"
                        alt=""
                        class="profile-img"
                    />
                    <h6>Clinic Name</h6>
                    <p>Clinic</p>
                </div>
                <div class="profile-foot">
                    
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-outline-primary mr_2">Cancel</button>
                <button class="btn btn-primary">Reschedule</button>
            </div>
        </div>
    </div>
  </div>
</main>
