<div class="patient-modal">
    <div class="dialog-head d-flex justify-content-between">
      <h3>Add Surgeon</h3>
      <img src="../../../assets/img/cross.svg" alt="" />
    </div>
    <hr />
    <form action="">
        <div class="profile-upload">
            <img src="../../../assets/img/profile-grey.svg" alt="" class="grey-profile">
            <img src="../../../assets/img/camera-blue.svg" alt="" class="blue-camera">
            <input type="file">
        </div>
      <div class="form-group input-icon">
        <label for="" class="control-label">First Name</label>
        <input type="text" class="form-control" />
        <img src="../../../assets/img/profile-black.svg" alt=" " />
      </div>
      <div class="form-group input-icon">
        <label for="" class="control-label">Last Name</label>
        <input type="text" class="form-control" />
        <img src="../../../assets/img/profile-black.svg" alt=" " />
      </div>
      <div class="form-group input-icon">
        <label for="" class="control-label">Speciality</label>
        <input type="text" class="form-control" />
        <img src="../../../assets/img/profile-plus.svg" alt=" " />
      </div>
      <div class="form-group input-icon">
        <label for="" class="control-label">Credential</label>
        <input type="text" class="form-control" />
        <img src="../../../assets/img/cap.svg" alt=" " />
      </div>
      <button class="btn btn-primary btn-block">Send Invitation</button>
    </form>
  </div>
  