<div class="patient-modal">
  <div class="dialog-head d-flex justify-content-between">
    <h3>Select Anesthesiologist</h3>
    <img src="../../../assets/img/cross.svg" alt="" />
  </div>
  <hr />
  <form action="">
    <div class="d-flex">
      <div class="form-group input-icon">
        <input type="text" class="form-control" />
        <img src="../../../assets/img/search.png" alt=" " />
      </div>
      <img src="../../../assets/img/add-btn.svg" alt="" class="search-btn">
    </div>
  </form>
</div>
