<app-sidebar></app-sidebar>
<main class="page-content">
  <div class="d-flex justify-content-between form-group">
    <h2 class="form-group">Dashboard</h2>
    <button class="btn btn-primary-outline">Schedule Appointment</button>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card card-body">
        <p class="upcoming-appoint"><span>30</span> Upcoming Appointments</p>
      </div>
    </div>
  </div>
  <div class="pending-approval">
    <h6 class="strong">Pending Approval</h6>
    <div class="row customScroll">
      <div class="col">
        <div class="card card-body">
          <ul>
            <li class="profile-img"><img src="../../../assets/img/patient/1.png" alt=""></li>
            <li class="dr-name">Darlene Robertson <span>Provider: Dr. Salman Hussain</span></li>
            <li class="call-img"><img src="../../../assets/img/call-icon.svg" alt=""></li>
          </ul>
          <hr>
          <ul class="timing">
            <li><img src="../../../assets/img/Calendar-black.svg" alt=""> 03-18-2022</li>
            <li><img src="../../../assets/img/clock.svg" alt=""> 6:00 AM - 08:00 PM</li>
          </ul>
          <hr>
          <ul class="action">
            <li class="approve-pending">Approval Pending</li>
            <li><button class="btn btn-gray-outline">Reschedule</button></li>
            <li><button class="btn btn-gray-outline">Cancel</button></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="card card-body">
          <ul>
            <li class="profile-img"><img src="../../../assets/img/patient/1.png" alt=""></li>
            <li class="dr-name">Darlene Robertson <span>Provider: Dr. Salman Hussain</span></li>
            <li class="call-img"><img src="../../../assets/img/call-icon.svg" alt=""></li>
          </ul>
          <hr>
          <ul class="timing">
            <li><img src="../../../assets/img/Calendar-black.svg" alt=""> 03-18-2022</li>
            <li><img src="../../../assets/img/clock.svg" alt=""> 6:00 AM - 08:00 PM</li>
          </ul>
          <hr>
          <ul class="action">
            <li class="approve-pending">Approval Pending</li>
            <li><button class="btn btn-gray-outline">Reschedule</button></li>
            <li><button class="btn btn-gray-outline">Cancel</button></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="card card-body">
          <ul>
            <li class="profile-img"><img src="../../../assets/img/patient/1.png" alt=""></li>
            <li class="dr-name">Darlene Robertson <span>Provider: Dr. Salman Hussain</span></li>
            <li class="call-img"><img src="../../../assets/img/call-icon.svg" alt=""></li>
          </ul>
          <hr>
          <ul class="timing">
            <li><img src="../../../assets/img/Calendar-black.svg" alt=""> 03-18-2022</li>
            <li><img src="../../../assets/img/clock.svg" alt=""> 6:00 AM - 08:00 PM</li>
          </ul>
          <hr>
          <ul class="action">
            <li class="approve-pending">Approval Pending</li>
            <li><button class="btn btn-gray-outline">Reschedule</button></li>
            <li><button class="btn btn-gray-outline">Cancel</button></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="card card-body">
          <ul>
            <li class="profile-img"><img src="../../../assets/img/patient/1.png" alt=""></li>
            <li class="dr-name">Darlene Robertson <span>Provider: Dr. Salman Hussain</span></li>
            <li class="call-img"><img src="../../../assets/img/call-icon.svg" alt=""></li>
          </ul>
          <hr>
          <ul class="timing">
            <li><img src="../../../assets/img/Calendar-black.svg" alt=""> 03-18-2022</li>
            <li><img src="../../../assets/img/clock.svg" alt=""> 6:00 AM - 08:00 PM</li>
          </ul>
          <hr>
          <ul class="action">
            <li class="approve-pending">Approval Pending</li>
            <li><button class="btn btn-gray-outline">Reschedule</button></li>
            <li><button class="btn btn-gray-outline">Cancel</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="upcoming-appontment">
    <h6 class="strong">Upcoming Appontment</h6>
    <div class="card form-group">
        <div class="card-body border-bottom">
          <div class="row">
              <div class="col-lg-3 border-right doctor-title">
                  <div class="d-flex justify-content-start">
                      <span class="img_radious">
                          <img src="../../../assets/img/profile-image.png" alt="" />
                      </span>
                      <div>
                          <span class="big-text">Ralph Edwards</span>
                          <p class="provider_text">Provider : Dr. Salman Hussain</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="row">
                      <div class="col border-right date-time">
                          <p>Date</p>
                          <p class="big-text">Thu, 31 March</p>
                      </div>
                      <div class="col border-right date-time">
                          <p>Time</p>
                          <p class="big-text">08 : 00 AM - 03 : 00 PM</p>
                      </div>
                      <div class="col d-flex border-right justify-content-center justify-content-start-m">
                        <span class="img_paymentby">
                          <img class="mr_2" src="../../../assets/img/pay-time.svg" alt="" />
                          <img src="../../../assets/img/pay-hand-danger.svg" alt="" />
                        </span>
                      </div>
                      <div class="col">
                        <button class="btn btn-gray-outline">Reschedule</button>
                        <button class="btn btn-gray-outline">Cancel</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="card-body">
         <p class="notes"> <img src="../../../assets/img/danger-circle-red.svg" alt=""> Patient has not submitted the requested preoperative workup.</p>
        </div>
    </div>
    <div class="card form-group">
      <div class="card-body border-bottom">
        <div class="row">
            <div class="col-lg-3 border-right">
                <div class="d-flex justify-content-start">
                    <span class="img_radious">
                        <img src="../../../assets/img/profile-image.png" alt="" />
                    </span>
                    <div>
                        <span class="big-text">Savannah Nguyen</span>
                        <p class="provider_text">Provider : Dr. Salman Hussain</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col border-right date-time">
                        <p>Date</p>
                        <p class="big-text">Thu, 31 March</p>
                    </div>
                    <div class="col border-right date-time">
                        <p>Time</p>
                        <p class="big-text">08 : 00 AM - 03 : 00 PM</p>
                    </div>
                    <div class="col d-flex border-right justify-content-center justify-content-start-m">
                      <span class="img_paymentby">
                        <img class="mr_2" src="../../../assets/img/pay-time-danger.svg" alt="" />
                        <img src="../../../assets/img/pay-hand.svg" alt="" />
                      </span>
                    </div>
                    <div class="col">
                      <button class="btn btn-gray-outline">Reschedule</button>
                      <button class="btn btn-gray-outline">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="card-body">
        <p class="notes"> <img src="../../../assets/img/danger-circle-red.svg" alt=""> Patient has not submitted the requested preoperative workup.</p>
      </div>
    </div>
  </div>
</main>