<app-sidebar></app-sidebar>
<main class="page-content">
  <div class="d-flex justify-content-between form-group">
    <h2>Surgen</h2>
    <button class="btn btn-primary-outline">Add Surgeon</button>
  </div>
  <div class="schedule-appointment">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-2 form-group">
          <div class="card-body patient-card-list">
            <h6>Search Patient</h6>
            <div class="row align-items-center">
              <div class="col">
                <div class="form-group input-icon">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Surgeon"
                  />
                  <img src="../../../assets/img/search.png" alt="" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Surgeon Name"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Speciality"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <button class="btn btn-primary-outline btn-block">
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="patient-card-list">
      <div class="row flex-wrap">
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Bessie Cooper</h6>
              <p>Cardiologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Savannah Nguyen</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Albert Flores</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Kristin Watson</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Jerome Bell</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Darlene Robertson</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Cameron Williamson</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Jacob Jones</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Cody Fisher</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="profile-card">
            <div class="profile-body">
              <img
                src="../../../assets/img/profile-image.png"
                alt=""
                class="profile-img"
              />
              <h6>Robert Fox</h6>
              <p>Hematologists</p>
              <ul class="action-icon">
                  <li><img src="../../../assets/img/edit-square.svg" alt=""></li>
                  <li><img src="../../../assets/img/delete-square.svg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
