
@import "../../../assets/scss/variable.scss";

.profile-card {
    background: $white;
    border: 1px solid rgba(61, 57, 137, 0.1);
    box-shadow: 0px 4px 10px rgba(61, 57, 137, 0.05);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1rem;
    .profile-body {
        padding: 25px;
        p {
            margin-bottom: 10px;
        }
        h6{
            font-weight: $bold;
            margin: 0;
        }
        .action-icon {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            li {
                border: 1px solid rgba(31, 29, 102, 0.2);
                border-radius: 8px;
                width: 40px;
                height: 40px;
                line-height: 35px;
                text-align: center;
                margin: 0 0.25rem;
                cursor: pointer;
                &:hover {
                    background-color: #f0f0f0;
                }
                img {
                    height: 20px;
                }
            }
        }
    }
    .profile-img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        margin-bottom: 10px;
    }
    .upload-img {
        position: relative;    
        width: 25px;
        overflow: hidden;
        margin: auto;
        top: -1.5rem;
        right: -1.5rem;
        cursor: pointer;
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
        }
        img {
            width: 25px;
        }
    }
}
.mr_2 {
    margin-right: 2rem;
}
.width25 {
    width: 25px;
}
.patient-card-list {
    .row {
        .col {
            max-width: 20%;
            flex-basis: auto;
        }
    }
}