<div class="form-header">
  <img src="../../assets/img/header-mask.png" alt="" />
</div>

<div class="pre-anesthetic">
  <div class="container">
    <h1><strong>Pre-anesthetic Instructions</strong></h1>
    <p>
      These instructions must be read and strictly adhered to before commencing
      with sedation or general anesthesia. Neglecting any of the following may
      compel the doctor to cancel the treatment and a cancellation fee of the
      full estimated anesthesia charges will apply
    </p>
    <div class="consent-form">
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="form-group">
            <label for="" class="control-label">Anesthesiologists name</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group">
            <label for="" class="control-label">Phone Number</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="pre-anesthetic-form">
      <div class="row data-details">
        <div class="col-md-12 col-lg-12">
          <div class="card form-group">
            <div class="card-body border-bottom">
              <label for="" class="control-label">Eating & Drinking</label>
              <p>
                The patient may not eat for at least eight (8) hours before the
                scheduled appointment, but he or she may consume small
                quantities (2 oz) of clear liquids until 2 hours before the
                appointment. Clear liquids are defined as water, soda, or apple,
                grape, or cranberry juice.
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Medications</label>
              <p>
                Prescription medications should be taken as scheduled (unless
                you are directed not by either myself or your physician) and are
                to be taken only with a sip of water.
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Clothing</label>
              <p>
                Please dress in comfortable, loose clothing and bring a blanket
                that can be easily washed if soiled by bodily fluids
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Change in Health</label>
              <p>
                A change in your health, especially the development of a cold or
                fever, is very important and may cause the treatment to be
                postponed.
              </p>
            </div>
            <div class="card-body">
              <label for="" class="control-label">Other</label>
              <p>
                You must be accompanied to the appointment by a responsible
                adult or, in the case of a minor, a parent or legal guardian. Do
                not take a bus or taxi. Arrangements must be made to have the
                patient under direct supervision for a minimum of 24 hours after
                discharge. California law requires the use of a car seat for all
                children under the age of six years or weighing less than 60
                Lbs.
              </p>
            </div>
          </div>
          <h3>Post-anesthesia Instructions</h3>
          <div class="card form-group">
            <div class="card-body border-bottom">
              <label for="" class="control-label">Getting Home</label>
              <p>
                The patient must be accompanied by a responsible adult or,
                parent/legal guardian in the case of a child, and arrangments
                must be made to contact a responsible adult/parent/legal
                guardian at the time of discharge. Do not plan to drive a
                vehicle or operate potentially dangerous equipment for
                twenty-four hours after your treatment. You will not be allowed
                to leave alone by bus or taxi.
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Home</label>
              <p>
                A responsible adult/parent/legal guardian must be with the
                patient until the next day.
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Pain or Fever</label>
              <p>
                Muscle aches and a sore throat may occur (similar to the flu)
                after general anesthesia, but will usually disappear within 24
                to 36 hours. Drugs such as ibuprofen or acetaminophen are
                usually very effective and should be taken at the first sign of
                pain (if normally tolerated). DO NOT USE ASPIRIN! Mild fever may
                develop in children during first 12 hours. Acetaminophen or
                ibuprofen every 4 hours with plenty of liquids will tend to
                alleviate this condition as well as treat post-operative
                discomfort.
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Eating and Drinking</label>
              <p>
                Limit oral intake to clear liquids for the first few hours. If
                teeth were extracted, do not use a straw. Soft food is well
                tolerated the first day. Suggestions include applesauce, yogurt,
                scrambled eggs, mashed potatoes, and soups. If the patient is
                not hungry, do not force her or him to eat, but do encourage
                liquid consumption. Please refrain from alcohol or any
                recreational drugs for 24hrs post operatively.
              </p>
            </div>
            <div class="card-body border-bottom">
              <label for="" class="control-label">Activity</label>
              <p>
                Do not participate in strenuous physical activity for 24 hours
                or until the effect of the anesthetic have subsided completely.
                Judgment may be impaired during this time, therefore do not sign
                any binding legal documents for the subsequent 24 hrs after the
                end of the anesthetic. For children; do not allow your child to
                swim, bike ride, or play with other children. Place a blanket on
                the floor for the child to sleep and observe him/her closely.
              </p>
            </div>
            <div class="card-body">
              <label for="" class="control-label">Seek Advice if</label>
              <p>
                Please call
                <strong>Dr. Hussain at 310-765-4066 or 877-378-3389</strong><br>
                if: Vomiting persists beyond 2 hours. The temperature remains
                elevated beyond the first 6 hours or exceeds 101 degrees
                Fahrenheit.or, any other matter causes you concern.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-group">
            <label for="" class="control-label">Patient/ Guardian</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group input-right-icon">
            <label for="" class="control-label">Date</label>
            <input type="text" class="form-control" />
            <img src="../../assets/img/Calendar-black.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group input-right-icon">
            <label for="" class="control-label">Time</label>
            <input type="text" class="form-control" />
            <img src="../../assets/img/clock.svg" alt="" />
          </div>
        </div>
        <div class="col-12">
          <div class="text-right">
            <button class="btn btn-primary-outline mr_1">Edit</button>
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
