<div class="form-header">
  <img src="../../assets/img/header-mask.png" alt="" />
</div>
<div class="consent">
  <div class="container">
    <h1><strong>Consent for Anesthesia</strong></h1>
    <p>
      The following is provided to inform patients of the choices and risks
      involved with having treatment under anesthesia. The information is not
      presented to make patients more apprehensive but to enable them to be
      better informed concerning their treatment. The choices for anesthesia are
      basically three: local anesthesia alone, conscious sedation, or general
      anesthesia. These can be administered, depending on each individual
      patient’s medical requirements, either in an office or in a hospital
      setting
    </p>
    <p>
      The most frequent side effects of any intravenous infusion are drowsiness,
      nausea & vomiting, and phlebitis. Most patients remain drowsy or sleepy
      following their surgery for the remainder of the day. As a result
      coordination and judgment will be impaired. It is recommended that adults
      refrain from activities such as driving an automobile and children remain
      in the presence of a responsible adult. Nausea and vomiting following
      anesthesia will occur in 15-30 % of patients. Phlebitis is a raised,
      tender, hardened, inflammatory response at the intravenous site. The
      inflammation usually resolves with local application of warm moist heat,
      however tenderness and a hard lump may be present up to a year or longer.
    </p>
    <p>
      I hereby authorize and request Salman R. Hussain, DMD to perform the
      anesthesia as previously explained to me, and any other procedure deemed
      necessary or advisable as a corollary to the planned anesthesia. I
      consent, authorize, and request the administration of such anesthetic or
      anesthetics (from local to general) by any route that is deemed suitable
      by the anesthesiologist, who is an independent contractor and consultant.
      It is the understanding of the undersigned that the anesthesiologist will
      have full charge of the administration and maintenance of the anesthesia,
      and that this is an independent function of the surgery /dentistry.
    </p>
    <p>
      I have been informed and fully understand that though very uncommon, there
      are complications of the drugs and anesthesia, including but not limited
      to: pain, hematoma, numbness, infection, swelling, bleeding,
      discoloration, nausea, vomiting, allergic reaction, and fluctuations in
      breathing pattern, heart rhythm, and/or blood pressure. I further
      understand and accept the risk that, in extremely rare circumstances,
      complications may require hospitalization, result in brain damage or
      death.
    </p>
    <p>
      The administration and monitoring of general anesthesia may vary depending
      on the type of procedure, the type of practitioner, the age and health of
      the patient, and the setting in which anesthesia is provided. Risks may
      vary with each specific situation. You are encouraged to explore all the
      options available for your child’s anesthesia for his or her dental
      treatment, and consult with your dentist or pediatrician as needed.
    </p>
    <p>
      I understand that anesthetics, medications, and drugs may be harmful to
      the unborn child and may cause birth defects or spontaneous abortion.
      Recognizing these risks, I accept full responsibility for informing the
      anesthesiologist of a suspect or confirmed pregnancy with the
      understanding that this will necessitate the postponement of the
      anesthesia. For the same reason I understand that I must inform the
      anesthesiologist if I am a nursing mother.
    </p>
    <p>
      Because medications, drugs, anesthetics, and prescriptions may cause
      drowsiness and decrease coordination, I have been advised not to operate
      any vehicle or hazardous device for at least twenty-four (24) hours. It
      may take longer until full recovery from the effects of the anesthetics,
      medications, and drugs that may be given to my child or myself. I have
      been advised not to make any major decisions until after recovery from
      anesthesia. Parents are advised of the necessary of direct parental
      supervision of their child for 24 hours following anesthesia.
    </p>
    <p>
      I have been fully advised of, and completely understand, the alternatives
      to sedation and general anesthesia and accept the possible risks. I
      acknowledge the receipt of, and understand, both preoperative and post
      operative anesthesia instructions. I have been explained and understand
      that there is no warranty or guarantees to any result and/or cure. I have
      had the opportunity to ask questions about anesthesia and am satisfied
      with the information provide to me.
    </p>
    <div class="consent-form">
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="form-group">
            <label for="" class="control-label">Select</label>
            <select class="form-control">
              <option value="">Surrogate</option>
              <option value="">Surrogate</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group input-right-icon">
            <label for="" class="control-label">Date</label>
            <input type="text" class="form-control" />
            <img src="../../assets/img/Calendar-black.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group input-right-icon">
            <label for="" class="control-label">Time</label>
            <input type="text" class="form-control" />
            <img src="../../assets/img/clock.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="upload-file form-group">
            <p>Add Signature</p>
            <p>(Dianne Russell)</p>
            <input type="file" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="form-group">
            <label for="" class="control-label">Witness Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group input-right-icon">
            <label for="" class="control-label">Date</label>
            <input type="text" class="form-control" />
            <img src="../../assets/img/Calendar-black.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="form-group input-right-icon">
            <label for="" class="control-label">Time</label>
            <input type="text" class="form-control" />
            <img src="../../assets/img/clock.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="upload-file">
            <p>Add Signature</p>
            <p>(Dianne Russell)</p>
            <input type="file" />
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
