@import "../../assets/scss/variable.scss";

.form-header {
    img {
        width: 100%;
    }
}
.consent {
    padding: 4rem 0;
    @include sm {
        padding: 2rem 0;
    }
    h1 {
        font-size: 36px;
        color: $tertiaryColor;
        letter-spacing: 0.1rem;
        margin: 0;
        @include sm {
            font-size: 24px;
        }
    }
    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 32px;
    }
}
.consent-form {
    background: rgba(61, 57, 137, 0.03);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(61, 57, 137, 0.05);
    .upload-file {
        position: relative;
        text-align: center;
        background: rgba(61, 57, 137, 0.05);
        color: $primaryColor;
        padding: 1.5rem 0;
        border-radius: 10px;
        border: 1px solid rgba(61, 57, 137, 0.05);
        p {
            margin: 0;
            line-height: 1.5;
        }
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            opacity: 0;
        }
    }
}
