@import "../../../assets/scss/variable.scss";

.tab-content {
  background-color: $white;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 4px 10px rgba(61, 57, 137, 0.05);
  padding: 15px;
  border: 1px solid rgba(61, 57, 137, 0.1);
  .tab-pane table {
    width: 100%;
    thead {
      th {
        padding: 25px 10px;
        text-transform: uppercase;
      }
    }
    tbody {
      box-shadow: 0px 4px 10px rgba(61, 57, 137, 0.05);
      border: 1px solid #ddd;
      tr {
        border-bottom: 1px solid #ddd;
        padding: 10px 0px;
        th {
          padding: 25px 10px;
        }
        td {
          padding: 25px 10px;
        }
      }
      tr:last-child {
        border-bottom: none;
      }
      th p.ser_no {
        display: inherit;
        align-items: center;
        vertical-align: middle;
        border-radius: 8px;
        height: 30px;
        width: 30px;
        text-align: center;
        background-color: #ececf9;
      }
      th span.img_radious img {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin-left: 5px;
        margin-right: 10px;
      }
    }
  }
}

.page_card {
  box-shadow: 0 8px 17px 2px #dddddd24, 0 3px 14px 2px #dfdfdf1f, 0 5px 5px -3px #ebebeb33;
  padding: 1rem;
  background-color: $white;
  margin-bottom: 1rem;
}

.billing-details {
  position: fixed;
  right: 0;
  width: 400px;
  top: 0;
  height: 100vh;
  z-index: 999;
  background: $white;

  .billing-title {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 29, 102, 0.2);
    align-items: center;
    h3 {
      font-size: 22px;
      font-weight: $bold;
      margin: 0;
    }
    img {
      width: 30px;
    }
  }
  .billing-content {
    padding: 1.5rem;
    .billing-info {
      background: rgba(31, 29, 102, 0.09);
      padding: 0.5rem;
      border-radius: 15px;
      margin-bottom: 1rem;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        margin: 0;
        li {
          width: 50%;
          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 1rem;
          }
          p {
            margin: 0;
          }
          h6 {
            margin: 0;
            opacity: 1;
            color: $primaryColor;
            font-weight: $bold;
          }
        }
      }
    }
    .billing-dentist {
      background: $white;
      border: 1px solid rgba(61, 57, 137, 0.1);
      box-shadow: 0px 4px 10px rgba(61, 57, 137, 0.05);
      border-radius: 12px;
      margin-bottom: 1rem;
      padding: 1rem;
      .billing-total {
        h6 {
          display: flex;
          font-weight: $medium;
          border-bottom: 1px solid rgba(61, 57, 137, 0.1);
          justify-content: space-between;
          line-height: 2;
          &:nth-last-child(1) {
            border-bottom: none;
            margin: 0;
          }
          span {
            font-size: 14px;
            opacity: 0.75;
          }
        }
      }
    }
    .payment-type {
      font-size: 14px;
    }
    .payment-advance {
      font-size: 14px;
      color: $secondaryColor;
    }
    .custom_radio {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
      li {
        margin-right: 1rem;
      }
    }
  }
}
