<app-sidebar></app-sidebar>
<main class="page-content">
  <h2 class="form-group">Billing</h2>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#Payment" role="tab" aria-controls="nav-home" aria-selected="true">Payment Due</a>
      <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#Paid" role="tab" aria-controls="nav-profile" aria-selected="false">Paid</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="Payment" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Clinic</th>
              <th>Date</th>
              <th>Date</th>
              <th>Payment Mode</th>
              <th>Payment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><p class="ser_no">1</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Albert Flores</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-danger">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">2</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Albert Flores</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-danger">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">3</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Albert Flores</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-danger">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">4</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Albert Flores</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-danger">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">5</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Albert Flores</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-danger">$205.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="Paid" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th colspan="2">Name</th>
              <th>Clinic</th>
              <th>Date</th>
              <th>Time</th>
              <th>Payment VIA</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><p class="ser_no">1</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Albert Flores</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-success">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">2</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Darrell Steward</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-success">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">3</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Robert Fox</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-success">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">4</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Devon Lane</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-success">$205.00</td>
            </tr>
            <tr>
              <th><p class="ser_no">5</p></th>
              <th><span class="img_radious"><img src="../../../assets/img/profile-image.png" alt=""></span> Darlene Robertson</th>
              <td>Parikh Clinic test</td>
              <td>03-18-2022</td>
              <td>03-18-2022</td>
              <td>Ach</td>
              <td class="text-danger">$205.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <section class="billing-details">
    <div class="billing-title">
      <h3>Billing Details</h3>
      <img src="../../../assets/img/cross.svg" alt="">
    </div>
    <div class="billing-content">
      <div class="billing-info">
        <ul>
          <li>
            <p>Patient Name</p>
            <h6>Jane Cooper</h6>
          </li>
          <li>
            <p>Surgery Date</p>
            <h6>31 March, 2022</h6>
          </li>
          <li>
            <p>Surgery Time</p>
            <h6>11:30 PM</h6>
          </li>
          <li>
            <p>Surgery Length</p>
            <h6>Lorem</h6>
          </li>
        </ul>
      </div>
      <div class="billing-dentist">
        <h6>Edison Dentist</h6>
        <p><img src="../../../assets/img/map-marker.svg" alt=""> 181 evergreen rd edison island new york (603) 555-0123</p>
      </div>
      <div class="billing-dentist">
        <h6>Anthoni Fouci</h6>
        <p><img src="../../../assets/img/map-marker.svg" alt=""> 181 evergreen rd edison island new york (603) 555-0123</p>
      </div>
      <div class="billing-dentist">
        <div class="billing-total">
          <h6><span>Amount</span> $205.00</h6>
          <h6><span>Credit card charges(3.5%)</span> $2.00</h6>
          <h6><span>Total</span> $207.00</h6>
        </div>
      </div>
      <p class="payment-type">Payment Type</p>
      <ul class="custom_radio">
        <li>
          <label class="container_r">One
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark_r"></span>
          </label>
        </li>
        <li>
          <label class="container_r">Two
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark_r"></span>
          </label>
        </li>
      </ul>
      <p class="payment-advance">You have to pay 10% in advance</p>
      <button class="btn btn-primary btn-block">CONTINUE</button>
    </div>
  </section>
</main>
