<div class="patient-modal">
  <div class="dialog-head d-flex justify-content-between">
    <h3>Add Patient</h3>
    <img src="../../../assets/img/cross.svg" alt="" />
  </div>
  <hr />
  <form action="">
    <div class="form-group input-right-icon">
      <label for="" class="control-label">Patient Name</label>
      <input type="text" class="form-control" />
      <img src="../../../assets/img/profile.svg" alt=" " />
    </div>
    <div class="form-group input-right-icon">
      <label for="" class="control-label">Date of Birth</label>
      <input type="text" class="form-control" />
      <img src="../../../assets/img/Calendar-black.svg" alt=" " />
    </div>
    <div class="form-group input-right-icon">
      <label for="" class="control-label">Email</label>
      <input type="text" class="form-control" />
      <img src="../../../assets/img/Message.svg" alt=" " />
    </div>
    <div class="form-group input-right-icon">
      <label for="" class="control-label">Phone Number</label>
      <input type="text" class="form-control" />
      <img src="../../../assets/img/phone.svg" alt=" " />
    </div>
    <button class="btn btn-primary btn-block">Add</button>
  </form>
</div>
