<app-sidebar></app-sidebar>
<main class="page-content">
    <h2>Billing</h2>
    <div class="schedule-appointment">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="card">
                    <div class="card-body">
                        <h6>Appointment With</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                      <option selected>Select Anesthesiologist </option>
                                      <option>Anesthesiologist</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                      <option selected>Select Surgeon </option>
                                      <option>Surgeon</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                      <option selected>Select Patient </option>
                                      <option>Patient</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-primary">Schedule Appointment</button>
                </div>
            </div>
        </div>
    </div>
  
</main>
