<div class="form-header">
  <img src="../../assets/img/header-mask.png" alt="" />
</div>

<div class="pre-anesthetic">
  <div class="container">
    <h1><strong>Pre-anesthetic Instructions</strong></h1>
    <p>
      These instructions must be read and strictly adhered to before commencing
      with sedation or general anesthesia. Neglecting any of the following may
      compel the doctor to cancel the treatment and a cancellation fee of the
      full estimated anesthesia charges will apply
    </p>
  </div>
</div>

<div class="container">
    <div class="consent-form">
        <div class="row">
            <div class="col-md-3 col-lg-3">
            <div class="form-group">
                <label for="" class="control-label">Anesthesiologists name</label>
                <input type="text" class="form-control">
            </div>
            </div>
            <div class="col-md-3 col-lg-3">
            <div class="form-group">
                <label for="" class="control-label">Phone Number</label>
                <input type="text" class="form-control">
            </div>
            </div>
        </div>
    </div>
</div>
<div class="pre-anesthetic-form">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Eating & Drinking</label>
            <input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Medications</label>
            <input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Clothing</label>
            <input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Change in Health</label>
            <input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Other</label>
            <input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <h5>Post-anesthesia Instructions</h5>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Getting Home</label>
            <textarea name="getting-home" id="" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Home</label>
            <textarea name="Home" id="" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Pain or Fever</label>
            <textarea name="pain" id="" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Eating and Drinking</label>
            <textarea name="Eating" id="" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Activity</label>
            <textarea name="activity" id="" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="" class="control-label">Seek Advice if</label>
            <textarea name="advice" id="" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="form-group">
            <label for="" class="control-label">Patient/guardian</label>
            <input type="text" class="form-control" placeholder="Patient/guardian ">
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label for="" class="control-label">Date</label>
            <input type="date" class="form-control">
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label for="" class="control-label">Time</label>
            <input type="time" class="form-control">
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="pull-right">
            <button class="btn btn-primary-outline mr_1">Edit</button>
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
    </div>
  </div>
</div>
