@import "../../assets/scss/variable.scss";

.login-section {
    display: flex;
    background-color: $grayColor1;
    @include sm {
        flex-wrap: wrap;
    }
    .login-left {
        width: 50%;
        @include sm {
            width: 100%;
        }
        .login-bg {
            // background-image: url('../../assets/img/transparent-rectangle.png');
            background-color: #1F1D66;
            height: 100vh;
            position: fixed;
            width: 50%;
            @include sm {
                height: 35vh;
                position: relative;
                width: 100%;
            }
            .maps-logo {
                position: absolute;
                height: 125px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include sm {
                    height: 85px;
                }
            }
            .curve-img {
                position: absolute;
                width: 75%;
                right: 0;
                bottom: 0;
            }
        }
    }
    .login-right {
        width: 50%;
        @include sm {
            width: 100%;   
        }
        .login-form {
            width: 80%;
            margin: auto;
            padding: 4rem 0 2rem 0;
            min-height: 100vh;
            position: relative;
            @include sm {
                padding: 2rem;
                width: 100%;
                min-height: auto;
            }
            h2 {
                font-weight: 600;
                font-size: 2.25rem;
            }
            p {
                margin-bottom: 2rem;
            }
            .login-btn {
                text-align: right;
                .btn {
                    width: 50%;
                }
            }
            .dont-account {
                text-align: center;
                width: 100%;
                margin-top: 2rem;
                margin-bottom: 0;
                @include sm {
                    position: relative;
                    margin-top: 2rem;
                }
            }
        }
    }
}